<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap.css css -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- style css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.1/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Rubik:wght@300;700&display=swap" rel="stylesheet">

    {% block jQueryPlugin %} {% endblock %}
    <title>Team EU Recommendation Engine - {% block title %} {% endblock %}</title>
</head>

<body>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="app_name">Team EU Recipe Recommender</div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="menu-area">
                    <div class="limit-box">
                        <nav class="main-menu ">
                            {% block navbarContent %}
                            {% endblock %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% block bodyContent %}
        {% endblock %}
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block loginContent %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>