{% extends "base.html" %}
{% block title %} Text Search {% endblock %}

{% block navbarContent %}
    <ul class="menu-area-main">
        <li>User ID: {{ user_id }}</li>
        <li class="active">
            <a href="{{ url_for('main.initial_search', user_id=user_id, db_connected=db_connected) }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('auth.logout') }}">
                <img class="logout_btn" src="/static/icon/logout.png" alt="logout"/>
            </a>
        </li>
    </ul>
{% endblock %}

{% block bodyContent %}
    <div style="padding-left: 8%; padding-right: 8%">
        <div class="ts-header">
            <div class="ts-title">Bon Appetit</div>
        </div>
        <div class="ts-indicators">
            <div id="i1">
                <div class="navi-indicator" id="ni1"></div>
            </div>
            <div id="i2">
                <div class="navi-indicator" id="ni2"></div>
            </div>
            <div id="i3">
                <div class="navi-indicator" id="ni3"></div>
            </div>
            <div id="i4">
                <div class="navi-indicator" id="ni4"></div>
            </div>
        </div>

        <div class="navi">
            <div class="navi-item1">
                <button onclick="toggle_div(event, 'matching_recipe')" class="nav-button" id="matching_recipe_btn">
                    <div class="navi-icon"><i class="fas fa-seedling"></i></div>
                    <div class="navi-text">Matching Recipes</div>
                </button>
            </div>
            <div class="navi-item2">
                <button onclick="toggle_div(event, 'content_based')" class="nav-button" id="content_based_btn">
                    <div class="navi-icon"><i class="fas fa-pizza-slice"></i></div>
                    <div class="navi-text">Filtered By My Review History</div>
                </button>
            </div>
            <div class="navi-item3">
                <button onclick="toggle_div(event, 'collab_filter')" class="nav-button" id="collab_filter_btn">
                    <div class="navi-icon"><i class="fas fa-ice-cream"></i></div>
                    <div class="navi-text">Filtered By Similar User's Reviews</div>
                </button>
            </div>
        </div>
    </div>

    <div style="padding-left: 10%; padding-right: 10%">
        <div style="display: block" class="menu" id="matching_recipe">
            {% if not matching_recipes %}
                <div class="column is-4 is-offset-4">
                    <div class="box">
                        <p>No results Found. Go to <a
                                href="{{ url_for('main.initial_search', user_id=user_id, db_connected=db_connected) }}">Home</a>
                            page or try<a href="{{ url_for('main.text_search_recipe_details', recipe="100845&extra crispy fried chicken", recipe_id=100845,
            user_id=user_id, main_ingredients=main_ingredients, side_ingredients=side_ingredients) }}"> extra crispy
                                fried chicken</a></p>
                    </div>
                </div>
            {% else %}
                {% for recipe in matching_recipes %}
                    {% set recipe2=recipe.recipeID|string + "&" + recipe.recipeName %}
                    <a href="{{ url_for('main.text_search_recipe_details', recipe=recipe2, recipe_id=recipe.recipeID,
            user_id=user_id, main_ingredients=main_ingredients, side_ingredients=side_ingredients) }}">
                        <div class="menu-item">
                            <div class="menu-item-name">{{ recipe.recipeName }}</div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>

        <div class="menu" id="content_based">
            {% if not content_based %}
                <div class="column is-4 is-offset-4">
                    <div class="box">
                        <p>No results Found. Go to <a
                                href="{{ url_for('main.initial_search', user_id=user_id, db_connected=db_connected) }}">Home</a>
                            page or try<a href="{{ url_for('main.text_search_recipe_details', recipe="100845&extra crispy fried chicken", recipe_id=100845,
            user_id=user_id, main_ingredients=main_ingredients, side_ingredients=side_ingredients) }}"> extra crispy
                                fried chicken</a></p>
                    </div>
                </div>
            {% else %}
                {% for recipe in content_based %}
                    {% set recipe2=recipe.recipeID|string + "&" + recipe.recipeName %}
                    <a href="{{ url_for('main.text_search_recipe_details', recipe=recipe2, recipe_id=recipe.recipeID,
            user_id=user_id, main_ingredients=main_ingredients, side_ingredients=side_ingredients) }}">
                        <div class="menu-item">
                            <div class="menu-item-name">{{ recipe.recipeName }}</div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>

        <div class="menu" id="collab_filter">
            {% if not collab_filter %}
                <div class="column is-4 is-offset-4">
                    <div class="box">
                        <p>No results Found. Go to <a
                                href="{{ url_for('main.initial_search', user_id=user_id, db_connected=db_connected) }}">Home</a>
                            page or try<a href="{{ url_for('main.text_search_recipe_details', recipe="100845&extra crispy fried chicken", recipe_id=100845,
            user_id=user_id, main_ingredients=main_ingredients, side_ingredients=side_ingredients) }}">extra crispy
                                fried chicken</a></p>
                    </div>
                </div>
            {% else %}
                {% for recipe in collab_filter %}
                    {% set recipe2=recipe.recipeID|string + "&" + recipe.recipeName %}
                    <a href="{{ url_for('main.text_search_recipe_details', recipe=recipe2, recipe_id=recipe.recipeID,
            user_id=user_id, main_ingredients=main_ingredients, side_ingredients=side_ingredients) }}">
                        <div class="menu-item">
                            <div class="menu-item-name">{{ recipe.recipeName }}</div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <script>
        function toggle_div(evt, div_name) {
            var div_content = document.getElementsByClassName("menu");
            for (i = 0; i < div_content.length; i++) {
                div_content[i].style.display = "none";
            }

            document.getElementById(div_name).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

{% endblock %}
